<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="icon" href="/images/shop.png" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Other CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  {{#if currentSession.passport}}
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" href="/">
      <img src="/images/shopNavInverted.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <b>{{ title }}</b>
    </a>
    <button class="navbar-toggler" style="border-color:white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color:white;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-danger my-2 my-sm-0" id="sellButton" href="/sell" role="button">Sell</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary my-2 my-sm-0" href="/chat" role="button">Chat</a>
        </li>
        <li class="nav-item dropdown">
          <button class="btn btn-default dropdown-toggle text-white" type="button" data-toggle="dropdown">
            <img src="{{currentSession.passport.user._json.picture}}" class="rounded-circle z-depth-0" height="20" alt="avatar image" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>{{currentSession.passport.user._json.name}}</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout"><strong>Logout</strong></a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  {{else}}
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" href="/">
      <img src="/images/shopNavInverted.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <b>{{ title }}</b>
    </a>
    <button class="navbar-toggler" style="border-color:white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color:white;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-success my-2 my-sm-0" style="margin-right:10px" id="loginButton" href="/auth/google/callback" role="button">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  {{/if}}
  <body>
    <div class="container">
    {{{ body }}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      function addFilter(key, val) {
        var re = new RegExp(`${key}=[^&]+`, 'g');
        var thisURL = document.URL.replace(re, ''); // remove previous queryParam for current filter
        if (val) {
          if (thisURL.includes('?')) {
            window.location.href = `${thisURL}&${key}=${val}`;
          } else {
            window.location.href = `${thisURL}?${key}=${val}`;
          }
        } else {
          // this is a reset-filter call
          window.location.href = thisURL;
        }
      }
    </script>
  </div>
  </body>
</html>
