<!-- <style>

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}

div#change_username, section#input_zone {
    border: 5px outset #8258FA;
}

div#change_username {
    height: 3%;
    display: inline-block;
    background-color: #BCA9F5;
}

section#chatroom {
    border: 5px inset #8258FA;
    height: 75%;
    overflow: auto;
}

section#input_zone {
    height: 7%;
    text-align: center;
    background-color: #BCA9F5;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#username {
    font-family: 'Comfortaa', sans-serif;
}

input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 10%;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<br>
  <div class="row">
    <div class="col-sm-4">
      <header>
          <h1>Messages</h1>
      </header>
      {{# each chats }}
        <button>
        <div class="card mb-3" style="max-height: 5rem;">
          <div class="row no-gutters">
            <div class="col-md-4" >
              <img class="card-img-top" src="{{this.selectedImageUrl}}" alt="Card image cap" style="max-height: 5rem;">
            </div>
            <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{this.selectedPostTitle}}</h5>
              <p class="card-title">By: {{this.selectedPersonSelling}}</p>
            </div>
          </div>
        </div>
        </div>
      </button>
      {{/each}}
    </div>
    <div class="col-sm-8">
      <div id="change_username">
        <input id="username" value="{{currentSession.passport.user._json.email}}"></input>
        <button id="send_username" type="button">Send</button>
      </div>

        <section id="chatroom">
          <section id="feedback"></section>
        </section>

        <section id="input_zone">
          <input id="message" class="vertical-align" type="text" />
          <button id="send_message" class="vertical-align" type="button">Send</button>
        </section>
      </div>
</div> -->
<style>
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
</style>
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<br>
  <h3 class=" text-center">Messaging</h3>
  <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h4>Recent</h4>
              </div>
              <div class="srch_bar">
                <div class="stylish-input-group">
                  <input type="text" class="search-bar"  placeholder="Search" >
                  <span class="input-group-addon">
                  <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                  </span> </div>
              </div>
            </div>
            <div class="inbox_chat">
              <div class="chat_list">
                {{# each chats }}

                <div class="chat_people">
                  <div class="chat_img"> <img src="{{this.selectedImageUrl}}" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>{{this.selectedPersonSelling}} <span class="chat_date">Dec 25</span></h5>
                    <p>Item: {{this.selectedPostTitle}}</p>
                  </div>
                </div>
              </div>
              <br>
                {{/each}}
              </div>
          </div>
          <div class="mesgs">
            <div class="msg_history">
                <div id="chatroom" class="outgoing_msg">
                      <div id="feedback" class="sent_msg">

                      </div>
                  </div>
              </div>

            <div id="input_zone" class="type_msg">
                <div class="input_msg_write">
                  <input id="message" type="text" class="write_msg" placeholder="Type a message" />
                  <button id="send_message" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
            </div>
          </div>
        </div>
      </div> -->


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<br>
  <h3 class=" text-center">Messaging</h3>

<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="inbox_chat">
            <div class="chat_list">
              {{# each chats }}
              <div class="chat_people">
                <div class="chat_img"> <img src="{{this.selectedImageUrl}}" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{this.selectedPersonSelling}} <span class="chat_date">Dec 25</span></h5>
                  <p>Item: {{this.selectedPostTitle}}</p>
                </div>
              </div>
              <hr>
              <br>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div id="chatroom" class="outgoing_msg">
                  <div id="feedback" class="sent_msg">

                  </div>
              </div>
          </div>
          <div id="input_zone" class="type_msg">
              <div class="input_msg_write">
                <input id="message" type="text" class="write_msg" placeholder="Type a message" />
                <button id="send_message" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </div>
          </div>
        </div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
    $(function(){
       	//make connection
    	var socket = io.connect('http://localhost:8000')

    	//buttons and inputs
    	var message = $("#message")
    	var username = $("#username")
    	var send_message = $("#send_message")
    	var send_username = $("#send_username")
    	var chatroom = $("#chatroom")
    	var feedback = $("#feedback")

    	//Emit message
    	send_message.click(function(){
    		socket.emit('new_message', {message : message.val()})
    	})

      //Emit a username
      send_username.click(function(){
        socket.emit('change_username', {username : username.val()})
      })

    	//Listen on new_message
    	socket.on("new_message", (data) => {
    		feedback.html('');
    		message.val('');
    		chatroom.append("<p class='message'>" + data.username + ": " + data.message + "</p>")
    	})



    	//Emit typing
    	message.bind("keypress", () => {
    		socket.emit('typing')
    	})

    	//Listen on typing
    	socket.on('typing', (data) => {
    		feedback.html("<p><i>" + data.username + " is typing a message..." + "</i></p>")
    	})
    });
    </script>
